<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="UniPaperShare helps you prepare for exams by practicing previous year question papers online.">
  <meta name="keywords" content="UniPaperShare, previous year question papers, practice papers, online test">
  <meta name="author" content="sachin kushwaha">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Question Paper</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">
    <%-include('partials/nave')%>
    <div class="container mx-auto p-6">
        <h1 class="text-3xl font-bold text-center mb-6">Upload Question Paper</h1>
        <div class="bg-white p-6 rounded-lg shadow-md max-w-lg mx-auto">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label class="block mb-2 font-semibold">Select Semester:</label>
                <select name="semester" class="w-full p-2 border rounded mb-4">
                    <option value="semester 1">Semester 1</option>
                    <option value="semester 2">Semester 2</option>
                    <option value="semester 3">Semester 3</option>
                    <option value="semester 4">Semester 4</option>
                    <option value="semester 5">Semester 5</option>
                    <option value="semester 6">Semester 6</option>
                    <option value="semester 7">Semester 7</option>
                    <option value="semester 8">Semester 8</option>
                </select>
                <label class="block mb-2 font-semibold">Select PaperType:</label>
                <select name="papertype" class="w-full p-2 border rounded mb-4">
                    <option value="Final paper">Final paper</option>
                    <option value="mst 1">mst 1</option>
                    <option value="mst 2">mst 2</option>
                </select>
                
                <label class="block mb-2 font-semibold">Select Subject:</label>
                <input type="text" name="subject" class="w-full p-2 border rounded mb-4" placeholder="Enter subject name" required>
                
                <label class="block mb-2 font-semibold">Select Year:</label>
                <input type="text" name="year" class="w-full p-2 border rounded mb-4" placeholder="Enter year" required>
                
                <label class="block mb-2 font-semibold">Upload File:</label>
                <input type="file" name="photo" multiple accept="image/*" class="w-full p-2 border rounded mb-4" required>
                
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-lg w-full">Upload</button>
            </form>
        </div>
    </div>
</body>
</html>