<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="UniPaperShare helps you prepare for exams by practicing previous year question papers online.">
  <meta name="keywords" content="UniPaperShare, previous year question papers, practice papers, online test">
  <meta name="author" content="sachin kushwaha">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  <%oneqp.forEach(ph=>{%>
    <img src="<%=ph.photo%>" alt="">
  <%})%>
    
</body>
</html>